@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.navbar-inside {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    font-family: 'Maven Pro', sans-serif;
}

.brand {
    display: flex;
    justify-content: space-between;
}

.brand > img {
    margin: 1rem 1rem 0 1rem;
    height: 2.5rem;
}

.brand> h1 {
    margin-left: 10px;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-links {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 0 20px;
}

.front-main {
    position: relative;
    height: 100%;
}

.front {
    position: absolute;
    top: 12rem;
    left: 3rem;
}

.front > p {
    font-size: 4rem;
    margin-bottom: 0;
    font-family: 'Dongle', sans-serif;
}

.front > h4 {
    margin-top: 0;
}

.front-main > img {
    position: absolute;
    top: 0;
    height: 40.2rem;
    width: 100%;
}